
.question-title {
  width: 80%;
  background-color: white;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
}

.question-title:first-child {
  margin-top: 50px;
}

.title-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-caret-down {
  margin-right: 30px;
  color: indigo;
}

.title-dropdown {
  cursor: pointer;
}


.edit-delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-delete i {
  cursor: pointer;
}

.fa-edit {
  margin-right: 30px;
  margin-top: 2px;
  color: green;
}

.fa-trash {
  color: red;
}