.question-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  background: var(--color-primary);
}

.question-form input {
  width: 500px;
  height: 40px;
}

#question-title {
  min-height: 40px;
}

#question-stem {
  min-height: 100px;
  margin-bottom: 30px;
}

.bottom-buttons {
  padding: 40px;
}

.bottom-buttons button {
  margin: 30px;
  border: none;
  background-color: red;
  color: white;
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 700;
}

.bottom-buttons button:first-child {
  background-color: teal;
}

.question-page {
  display: flex;
  height: 92vh;
}

.options {
  display: flex;
  padding: 10px;
  align-items: center;
}

.options span{
  margin-right: 10px;
  min-width: 80px;
}

.options input {
  min-width: 500px;
  width: 60%;
}