.add-question-container {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 40px;
  padding-top: 50px;
  height: 100%;
  overflow-y: scroll;
  width: 80%;
  background: white;
  box-shadow: 2px 9px 10px 8px #ffe4e1;

}

.question-form input {
  width: 90%;
  height: 40px;
}

.question-form p{
  margin-top: 10px;
  margin-bottom: 10px;
}

#question-title {
  min-height: 40px;
}

#question-stem {
  min-height: 100px;
  margin-bottom: 30px;
}

.bottom-buttons {
  padding: 40px;
}

.bottom-buttons button {
  margin: 30px;
  border: none;
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  padding-bottom: 40px;
}

.bottom-buttons button:first-child {
  background-color: var(--color-secondary);
  color: black;
}

.bottom-buttons button:first-child:hover {
  background-color: var(--color-secondary-dark);
  color: white;
}

.bottom-buttons button:last-child {
  background-color: var(--color-secondary-dark);
}

.bottom-buttons button:last-child:hover {
  background-color: var(--color-secondary-light);
  color: black;
}

.question-page {
  display: flex;
  height: 92vh;
}

.options {
  display: flex;
  padding: 10px;
  align-items: center;
}

.options span{
  margin-right: 10px;
  min-width: 80px;
}

.delete-button {
  background-color: red;
  width: 100%;
  margin-right: 100px;
  border-radius: 10px;
}

.delete-button:hover {
  background-color: rgb(71, 3, 3);
}

.option-input {
  width: 70%;
}

.option-input-radio {
  width: 5%;
}

.delete-button-container {
  width: 5%;
}

textarea {
  padding: 10px;
  font-size: 17px;
  width: 90%;
  font-family: Ubuntu;
}