.whole-login-page {
  height: 100%;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  background: linear-gradient(180deg, var(--color-primary), var(--color-primary-light));
}

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
}

.logo-side {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 50%;
  overflow-x: hidden;
}

.logo-side img {
  width: 800px;
}

.logo-img {
  max-width: 200px;
}

.login-form-container {
  background-color: white;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 10px solid var(--color-primary);
  padding-left: 80px;
}

.login-icon {
  margin-top: 20px;
}

.login-title {
  font-size: 45px;
  font-weight: 600;
}

.no-account {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.no-account span {
  color: var(--color-secondary);
  text-decoration: underline;
}

form input {
  height: 40px;
  width: 80%;
}

form p {
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

form button {
  width: 80%;
  border: none;
  height: 50px;
  background-color: var(--color-secondary);
  font-weight: 600;
  color: white;
  font-size: 18px;
  margin-top: 20px;
}

form button:hover {
  background-color: var(--color-secondary-dark);
  transition: ease 0.5s;
}

.keep-logged {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.login-container-footer {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container-footer span {
  margin-right: 100px;
  font-size: 20px;
  color: var(--color-secondary-dark);
  text-decoration: underline;
}

.img-container {
  width: auto;
  height: 100%;
  width: 60%;
  background-color: var(--color-primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
}