.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: indigo;
}

.landing-container {
  width: 70%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
}

.landing-logo {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(19, 204, 19);
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing-logo p {
  color: white;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.login-or-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  width: 50%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.login-or-signup button {
  background-color: indigo;
  color: white;
	border: none;
	width: 7rem;
	height: 3rem;
	border-radius: 0.4rem;
	cursor: pointer;
}

.login-or-signup button:hover {
	background: rgb(129, 3, 219);
}

.login-or-signup h2 span {
  color: indigo;
	cursor: pointer;
}