.landing-page {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  width: 100vw;
  height: 100vh;
  background-color: var(--color-secondary);
  color: var(--color-clear);
  overflow-x: hidden;
  overflow-y: hidden;
}

.landing-container {
  width: 100%;
  height: 73%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.landing-header {
  width: 100%;
  height: 15%;
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
  /* background-color: var; */
  transition: background-color 0.5s ease;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-header:hover {
  background-color: var(--color-secondary-dark);
  color: var(--color-primary)
}

.left-content {
  margin-left: 50px
}

.right-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-content span:first-child {
  margin-right: 50px;
}

.landing-content {
  background-color: var(--color-primary);
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-text {
  width: 40%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.landing-text h2 {
  font-size: 30px;
  width: 100%;
  margin-bottom: 50px;
  color: #fff;
}

.landing-text p {
  margin-bottom: 50px;
}

.login-btn {
  background-color: var(--color-primary-light);
  color: black;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid var(--color-secondary-dark);
  padding: 15px 25px;
  transition: background-color 0.5s ease;
}

.login-btn:hover {
  background-color: var(--color-secondary-dark);
  color: var(--color-primary);
  cursor: pointer;
}

.signup-btn {
  background-color: var(--color-secondary-light);
  color: var(--color-primary);
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding: 15px 25px;
  margin-left: 30px;
  margin-right: 30px;
  transition: background-color 0.5s ease;
}

.signup-btn:hover {
  background-color: var(--color-secondary-dark);
  color: var(--color-primary);
  cursor: pointer;
}

.login-btn:first-child {
  background-color: var(--color-primary);
  border: 2px solid black;
}

.login-btn:first-child:hover {
  background-color: var(--color-secondary);
}

#bottom-login {
  margin-bottom: 25px;
}

/* footer {
  background-color: var(--color-secondary-dark);
  height: 20%;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  padding: 20px 20px 30px 20px;
  margin-top: 80px;
} */

/* The footer is fixed to the bottom of the page */

footer{
	/* position: fixed; */
  /* bottom: 0; */
  min-height: 250px;
  height: 12%;
}

footer:hover {
  background-color: var(--color-secondary-darker);
  transition: background-color 0.5s ease;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
  background-color: var(--color-secondary-dark);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 30px 30px 40px 30px;
  /* margin-top: 50px; */
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #E4C580;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #E4C580;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */